<h1>State List</h1>

<p>here is a list of states...</p>

<!-- iterate through each state in the array and put them into list items individually -->

<select>
  <% @states.each do | state | %>
  <% if state[:name] == "California" %>
    <option selected="" value= "<% state[:id] %>"><%= state[:name] %></option>
  <% else %>
     <option value = "<% state[:id] %>" > <%= state[:name] %> </option>
    <% end %>
  <% end %>
</select>
